<!-- ### $Topbar ### -->
<!-- TODO: -->
<div class="header navbar" style="background-color: #313131;">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);">
                    <i class="ti-menu"></i>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="notifications dropdown">
                <h5 class="mr-5 mt-3">
                   Welcome {{user.username}}
                </h5>
            </ui>
        
    </div>
</div>
