<!-- #Left Sidebar ==================== -->
<div class="sidebar" style="background-color: #313131;">
    <div class="sidebar-inner">
        <!-- ### $Sidebar Header ### -->
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <!-- <div class="peer peer-greed">
                    <a class="sidebar-link td-n" href="https://appseed.us/admin-dashboards/django-dashboard-adminator">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo py-2">
                                    <img src="/static/assets/static/images/icongold3.png" alt="">
                                </div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text px-2" style="color: white;">DataViz</h5>
                            </div>
                        </div>
                    </a>
                </div> -->
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                        <a href="" class="td-n">
                            <i class="ti-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ### $Sidebar Menu ### -->
        <ul class="sidebar-menu scrollable pos-r">
            {#            <li class="nav-item mT-30 actived">#}
            {#                <a class="sidebar-link" href="/index.html">#}
            {#                <span class="icon-holder">#}
            {#                  <i class="c-blue-500 ti-home"></i>#}
            {#                </span>#}
            {#                    <span class="title">Dashboard</span>#}
            {#                </a>#}
            {#            </li>#}
            <!-- <li class="nav-item">
                <a class="sidebar-link" href="/">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                    <span class="title">Home</span>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="sidebar-link" href="/">
                <span class="icon-holder">
                  <i class="c-orange-500 ti-home"></i>
                </span>
                    <span class="title">Solar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="sidebar-link" href="/settings.html">
                <span class="icon-holder">
                  <i class="c-light-blue-500 ti-settings"></i>
                </span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="c-red-500 ti-files"></i>
                  </span>
                    <span class="title">Reports</span>
                    <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="sidebar-link" href="/datatable.html">Custom Reports</a>
                    </li>
                    <li>
                        <a class="sidebar-link" href="/">Inverter Reports</a>
                    </li>
                    <li>
                        <a class="sidebar-link" href="/">Plant Reports</a>
                    </li>
                </ul>
            </li> -->
            
            <li class="nav-item dropdown">
                <a class="sidebar-link" href="{% url 'logout' %}">
                <span class="icon-holder">
                    <i class="ti-power-off"></i>
                  </span>
                    <span class="title">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
