{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g=="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/assets/weather-icons-master/css/weather-icons.min.css">
    <link rel="stylesheet"
          href="/static/assets/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/dist/css/bootstrap-multiselect.min.css">
          <link href="https://unpkg.com/tabulator-tables@5.1.3/dist/css/tabulator.min.css" rel="stylesheet">
    <style>
        .btn:hover {
            background-color: RoyalBlue;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="row gap-20 masonry pos-r">
     
        <div class="masonry-sizer col-md-6"></div>
       
        <div class="masonry-item col-md-12">
            <div class="p-20 bd" style="background-color: #313131;">
                <div class="col mb-20">
                    <div class="row justify-content-center" style="background-color: #313131;">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class=" input-group date" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" id="fromdata" class="form-control datetimepicker-input"
                                               data-target="#datetimepicker1">
                                        <div class="input-group-append" data-target="#datetimepicker1"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                        <input type="text" id="todata" class="form-control datetimepicker-input"
                                               data-target="#datetimepicker2">
                                        <div class="input-group-append" data-target="#datetimepicker2"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary mb-1 mr-1"
                                            onclick="get_archive_data()"><i
                                            class="fa fa-search"></i></button>
                                        <button type="button" class="btn btn-primary mb-1 ml-1" data-toggle="modal" data-target="#chartTable">
                                                <i class="fa fa-download"></i>
                                              </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="selectelements" class="row justify-content-around">
                        <!-- <select id="selectplant" name="Select Plant" class="custom-select col-md-3 col-lg-2 "
                                style="margin-top: 10px; text-align-last: center ">
                            <option value="none" selected disabled hidden>
                                Select Plant
                            </option>
                            {% for i in device %}
                                <option value="{{ i.device_id }}">{{ i.device_id }}</option>
                            {% endfor %}
                        </select> -->
                     
                        <div class="col-md-3 col-lg-2" style="margin-top: 10px;">
                            <select id="selectdevice" multiple="multiple"
                                    style="margin-top: 10px;">
                          
                                <option value="mvps1_inv_a">mvps1_inv_a</option>
                                <option value="mvps4_inv_b">mvps4_inv_b</option>
                                <option value="mvps5_inv_a">mvps5_inv_a</option>
                                <option value="mvps5_inv_b">mvps5_inv_b</option>
                                <option value="mvps6_inv_a">mvps6_inv_a</option>
                                <option value="mvps6_inv_b">mvps6_inv_b</option>
                                <option value="mvps7_inv_a">mvps7_inv_a</option>
                                <option value="mvps7_inv_b">mvps7_inv_b</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-2" style="margin-top: 10px;">
                            <select id="myFilter" multiple="multiple"  >
                                <option value="none" selected disabled hidden>
                                    Select Parameters
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-2" style="margin-top: 10px;">
                            <select id="myFilter2" multiple="multiple"
                                    style="margin-top: 10px;" disabled>
                                <option selected disabled hidden>
                                    Weather Parameters
                                </option>
                                <option value=1>Ambient Temp</option>
                                <option value=2>Module temperature</option>
                                <option value=3>Irradiance</option>
                                <option value=4>Wind direction</option>
                                <option value=5>Wind speed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mT-30">
                    <div id="line-chart" style="display: block;width: 90vw; height: 60vh"></div>
                    <!-- <canvas id="scatter-chart" height="100" style="display: block;margin-top: 10px;">
                    </canvas> -->
                </div>
            </div>
        </div>
       
        <div class="modal fade bd-example-modal-lg" id="chartTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div id="chart-table"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" id="pdf" class="btn btn-primary">PDF</button>
                  <button type="button" id="xlsx" class="btn btn-primary">XLSX</button>
                  <button type="button" id="csv" class="btn btn-primary">CSV</button>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script>
        var indexofselecteddevice = -1;
        var endpoint = '/api/data/live'
        // const livedata2 = function () {
        //     $.ajax({
        //         method: "GET",
        //         url: endpoint,
        //         success: function (data) {
        //             var Consumption = document.getElementById("consumption")
        //             var SolarGenration = document.getElementById("solar_genration");
        //             var ExporttoGrid = document.getElementById("export_to_grid");
              
        //             let c = parseInt(data.data[data.data.length - 1]["Energy generated per day (Inv 5.1) [kWh]"]) * 0.8
        //             let e = parseInt(data.data[data.data.length - 1]["Energy generated per day (Inv 5.1) [kWh]"]) * 0.2
        //             Consumption.textContent = c.toFixed(2).toString();
        //             SolarGenration.textContent = data.data[data.data.length - 1]["Energy generated per day (Inv 5.1) [kWh]"];
        //             ExporttoGrid.textContent = e.toFixed(2).toString();
        //         }
        //     })
        // }
        // livedata2()
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@0.1.3/dist/chartjs-chart-matrix.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.58.4/plotly.min.js"
            integrity="sha512-odxyOOOwpEgYQnS+TzF/P33O+DfGNGqyh89pJ/u2addhMw9ZIef3M8aw/otYSgsPxLdZi3HQhlI9IiX3H5SxpA=="
            crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
            integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg=="
            crossorigin="anonymous"></script>
    <script src="/static/assets/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/dist/js/bootstrap-multiselect.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myFilter').multiselect({
                buttonWidth: '100%',
                maxHeight:500

            });
    
            $('#myFilter2').multiselect({
                buttonWidth: '100%',
                maxHeight:500
            });
            $('#selectdevice').multiselect({
                buttonWidth: '100%',
             
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
            });
        });
        $(function () {
            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
            });
        });
    </script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>

    <!-- <script>
        var oldrno = -1;
        var clr = 0
        var VIN, VBAT, TIME, TP, APPD, CELV, ES, ECT, SPD, V3, V3_CONV, updatedTime
        var lab = [];
        var dat = [];
        let d = [];
        var indicesofselecteddevices = []
        var weather_param_names = ['Ambient Temp', 'Module temperature', 'Irradiance', 'Wind direction', 'Wind speed']


        
        function livedata() {
            $.ajax({
                method: "GET",
                url: 'api/data/live',
                success: function (data) {
                    dat = []
                   
                    TIME = data.weather[0]
                    if (indicesofselecteddevices.length !== 0) {
                        TIME = data.data[indicesofselecteddevices[0]]["TimeCol"]
                        for (let i = 0; i < indicesofselecteddevices.length; i++) {
                            for (let j = 0; j < lab.length; j++) {
                                d.push(data.data[indicesofselecteddevices[i]][lab[j]])
                            }
                            dat.push(d)
                            d = []
                        }

                        
                    }
                      dat.push(data.weather)
                },
                error: function (error_data) {
                    console.log("error")
                    console.log(error_data)
                }
            })
        }

        var chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        function onRefresh(chart) {
            livedata()
           
            for (let i = 0; i < chart.config.data.datasets.length; i++) {
                let l;
                let ydata;
                if (i >= deviceselected.length * selected.length) {
                    l = weather_param_names.indexOf(chart.config.data.datasets[i].label)
                    l+=1
                    ydata = dat.length - 1
                } else {
                    l = lab.indexOf(chart.config.data.datasets[i].label.split(' - ')[1])
                    ydata = Math.floor(i / selected.length)
                }
                if (chart.config.data.datasets[i].data.length === 0) {
                    chart.config.data.datasets[i].data.push({
                        x: TIME,
                        y: dat[ydata][l]
                    })
                } else if (chart.config.data.datasets[i].data[chart.config.data.datasets[i].data.length - 1].x !== TIME) {
                    chart.config.data.datasets[i].data.push({
                        x: TIME,
                        y: dat[ydata][l]
                    })
                }

            }
      
        }

        var color = Chart.helpers.color;
        var ctx = document.getElementById('scatter-chart').getContext('2d');
        var config = {
            type: 'line',
            data: {
                datasets: []
            },
            options: {
                legend: {
                    display: true,
                    align: 'center',
                    labels: {
                        usePointStyle: true,
                        boxWidth: 10,
                        fontColor: '#fff',
                        lineCap: 'butt',
                    }
                },
                elements: {
                    point: {
                        radius: 1
                    }
                },
                scales: {
                    xAxes: [{
                        type: 'realtime',
                        realtime: {
                            duration: 1800000,
                            //20000
                            refresh: 10000,
                            //1000
                            delay: 0,
                            //7000
                            onRefresh: onRefresh
                        },
                        gridLines: {color: "#696969"},
                        ticks: {
                            fontColor: "white",
                        }
                    }],
                    yAxes: []
                },
                tooltips: {
                    mode: 'nearest',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: false
                }
            }
        };
        var chart1 = new Chart(ctx, config)
        var colorNames = Object.keys(chartColors);

        function addDatasets1(index, devicelabel, labelstring) {
            var colorName = colorNames[config.data.datasets.length % colorNames.length];
            var newColor = chartColors[colorName];
            var newDataset = {
                label: devicelabel,
                backgroundColor: color(newColor).alpha(0.5).rgbString(),
                borderColor: newColor,
                fill: false,
                data: [],
                yAxisID: 'y-axis-' + index,
                pointStyle: "line",
                borderWidth: 1.5,
            };

            config.data.datasets.push(newDataset);
            addScale(index, labelstring)
            
        };

        function addScale(index, labelstring) {

            var newScale = {
                id: 'y-axis-' + index,
                scaleLabel: {
                    display: true,
                    labelString: labelstring,
                    fontColor: "white",
                },
                gridLines: {color: "#696969"},
                ticks: {
                    fontColor: "white"
                }
            }
            if (index % 2 === 0) {
                newScale.position = "left"
            } else {
                newScale.position = "right"
            }
          
            config.options.scales.yAxes.push(newScale)
        }

        function removeDatasets() {
            config.data.datasets = []
            config.options.scales.yAxes = []
        };

        function show_live_data() {
            removeDatasets()
            for (let j = 0; j < deviceselected.length; j++) {
                for (let i = 0; i < selected.length; i++) {
                    addDatasets1(lab.indexOf(selected[i]), deviceselected[j] + " - " + selected[i], selected[i])
                }
            }
            for (let k = 0; k < selectedweather.length; k++) {
                addDatasets1(parseInt(selectedweather[k]) + selected.length - 1, weather_param_names[parseInt(selectedweather[k])-1], weather_param_names[parseInt(selectedweather[k])-1])
            }
            chart1.update()
        }

    </script> -->
    <script>
        $(function () {
            $('#myFilter').multiselect();
        });

        function assign_params(selecteddevice) {
            $.ajax({
                method: "GET",
                url: 'api/data/userinfo',
                success: function (data) {
              
                    indicesofselecteddevices = []
                    for (let i = 0; i < selecteddevice.length; i++) {
                        indicesofselecteddevices.push(data.all_devices.indexOf(selecteddevice[i]))
                    }
                    
                    var data2 = [];
                    for (let i = 0; i < data.all_devices.length; i++) {
                        if (data.all_devices[i] === selecteddevice[0]) {
                           
                            lab = data.chartprefrence[i];
                            for (let j = 0; j < data.chartprefrence[i].length; j++) {
                                data2.push({label: data.chartprefrence[i][j], value: data.chartprefrence[i][j]})
                            }
                            $('#myFilter').multiselect('dataprovider', data2);
                        }
                    }
               

                }
            })
        }

        var deviceselected = [];
        $('#selectdevice').change(function () {
            
            deviceselected = $(this).val()
        
            assign_params($(this).val())
            // show_live_data()
        })


    </script>
    <script>
        var selected = []
        $("#myFilter").on('change', function () {
            selected = $("#myFilter").val();
          
            // show_live_data()
        })

        var selectedweather = []
        $("#myFilter2").on('change', function () {
            selectedweather = $("#myFilter2").val();
         
            // show_live_data()
        })
    </script>
    <script>
        var table = undefined;
        function get_archive_data() {
    
            let weather = []
            for (let i=0;i<selectedweather.length;i++)
            {
                weather.push(weather_param_names[parseInt(selectedweather[i])-1])
            }
      
            $.ajax({
                method: "POST",
                url: "api/data/archive",
                async: true,
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'from': $("#fromdata").val(),
                    'to': $("#todata").val(),
                    'parameters[]': selected,
                    'device[]': deviceselected,
                    'weather[]': weather
                },
                success: function (result, status, xhr) {
                    //clearInterval(clr)
                    //archive = true
                    var x = document.getElementById("scatter-chart");
                    var y = document.getElementById("line-chart");
                    console.log(result)
                    table = undefined
                    showChart(result.tableData)    




                    // search(result)
                    adjustValue1(result)
                    if (x.style.display === "block") {
                        x.style.display = "none"
                       y.style.display = "block"
                    } else {
                        y.style.display = "block"
                    }
                },
                error: function (error_data) {
                    console.log("error")
                    alert("error")
                    console.log(error_data)
                }
            })
        }

        function refreshdata() {
            archive = false
            var x = document.getElementById("scatter-chart");
            var y = document.getElementById("line-chart");
            if (x.style.display === "none") {
                x.style.display = "block"
                y.style.display = "none"
            } else {
                x.style.display = "block"
            }
        }

        var col = ['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)']

        function adjustValue1(value) {
            var trace = {}
            var tracedata = []
            let axis = {}
            for (let i = 0; i < value.param.length; i++) {
                trace.name = value.legends[i]
                trace.x = value.labels
                trace.y = value.selected[i]
                trace.type = 'line'
                trace.marker = {
                    color: col[i],
                    size: 5
                }
                if (Object.values(axis).length !== 0) {
                
                    if (Object.keys(axis).includes(value.param[i])) {
                        trace.yaxis = axis[value.param[i]]
                    } else {
                        axis[value.param[i]] = `y${Object.values(axis).length}`
                        trace.yaxis = `y${Object.values(axis).length}`
                    }
                } else {
                    axis[value.param[i]] = "y"
                    trace.yaxis = 'y'
                }
              
                tracedata.push(trace)
                trace = {}
            }
         
            var layout = {
                legend: {
                    x: 0.3,
                    y: 1.1,
                    "orientation": "h",
                    font: {
                        family: 'sans-serif',
                        size: 12,
                        color: '#fff'
                    },
                },
                margin: {
                    l: 50,
                    r: 50,
                    b: 25,
                    t: 25,
                },
             
                paper_bgcolor: '#313131',
                plot_bgcolor: 'rgba(0,0,0,0)',
                xaxis: {
                    ticks: '',
                    side: 'bottom',
                    gridcolor: '#696969',
                    linecolor: '#696969',
                    tickfont: {
                        family: 'Old Standard TT, serif',
                        size: 14,
                        color: 'white'
                    },
                    domain: [0.15, 0.85]
                },
                yaxis: {
                    title: value.yaxislabel[0],
                    gridcolor: '#696969',
                    linecolor: '#696969',
                    titlefont: {color: "#FFF"},
                    tickfont: {
                        family: 'Old Standard TT, serif',
                        size: 14,
                        color: 'white'
                    },
                },
                yaxis2: {
                    title: value.yaxislabel[1],
                    gridcolor: '#696969',
                    linecolor: '#696969',
                    titlefont: {color: "#FFF"},
                    overlaying: 'y',
                    side: 'left',
                    tickfont: {
                        family: 'Old Standard TT, serif',
                        size: 14,
                        color: 'white'
                    },
                    anchor: 'free',
                    position: 0.10
                },
                yaxis3: {
                    title: value.yaxislabel[2],
                    gridcolor: '#696969',
                    linecolor: '#696969',
                    titlefont: {color: "#FFF"},
                    overlaying: 'y',
                    side: 'right',
                    tickfont: {
                        family: 'Old Standard TT, serif',
                        size: 14,
                        color: 'white'
                    },
                    anchor: 'x',
                },
                yaxis4: {
                    title: value.yaxislabel[3],
                    gridcolor: '#696969',
                    linecolor: '#696969',
                    titlefont: {color: "#FFF"},
                    overlaying: 'y',
                    side: 'right',
                    tickfont: {
                        family: 'Old Standard TT, serif',
                        size: 14,
                        color: 'white'
                    },
                    anchor: 'free',
                    position: 0.90
                },
                 yaxis5: {
                    title: value.yaxislabel[4],
                    gridcolor: '#696969',
                    linecolor: '#696969',
                    titlefont: {color: "#FFF"},
                    overlaying: 'y',
                    side: 'left',
                    tickfont: {
                        family: 'Old Standard TT, serif',
                        size: 14,
                        color: 'white'
                    },
                    anchor: 'free',
                    position: 0.05
                },
                yaxis6: {
                    title: value.yaxislabel[5],
                    gridcolor: '#696969',
                    linecolor: '#696969',
                    titlefont: {color: "#FFF"},
                    overlaying: 'y',
                    side: 'right',
                    tickfont: {
                        family: 'Old Standard TT, serif',
                        size: 14,
                        color: 'white'
                    },
                    anchor: 'free',
                    position: 0.95
                },
            };
            var config = {responsive: true}
            Plotly.newPlot('line-chart', tracedata, layout, {modeBarButtonsToRemove: ['hoverClosestCartesian', 'zoom2d', 'hoverCompareCartesian', 'zoomIn2d', 'zoomOut2d', 'pan2d', 'toggleSpikelines', 'resetScale2d']}, config);
        }
    </script>

    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.1/bootbox.min.js"
            integrity="sha512-eoo3vw71DUo5NRvDXP/26LFXjSFE1n5GQ+jZJhHz+oOTR4Bwt7QBCjsgGvuVMQUMMMqeEvKrQrNEI4xQMXp3uA=="
            crossorigin="anonymous"></script>
    <script>
        
  


function showChart(res){
    
    let cols = [];
    for(key in res[0]){
        let col = {}
        col['title'] = key;
        col['field'] = key;
        cols.push(col)
    }
    table = new Tabulator("#chart-table", {
    layout:"fitColumns",
    height:"311px",
   
    data:res,
    columns:cols
})

document.getElementById("csv").addEventListener("click", function(){
    table.download("csv", "data.csv");
    table = undefined;
});


//trigger download of data.xlsx file
document.getElementById("xlsx").addEventListener("click", function(){
    table.download("xlsx", "data.xlsx", {sheetName:"My Data"});
    table = undefined;
    // location.reload()
});

//trigger download of data.pdf file
document.getElementById("pdf").addEventListener("click", function(){
    table.download("pdf", "data.pdf", {
        orientation:"landscape", //set page orientation to portrait
        title:"Solar Report", //add title to report
    });
    table = undefined;
    // location.reload()
});
}


    </script>


{% endblock javascripts %}
